@charset "UTF-8";

@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: "esse site foi impresso atraves de www.leo.com.br";
}

article {
    width: 100%;
}